{% extends 'admin_layout.twig' %}

{% block title "Editer l'article" %}

{% block body %}

  <h1>Ajouter un article</h1>

  <form action="{{ path(routePrefix ~ '.create') }}" method="post">
    {% include viewPath ~ '/form.twig' %}
    <button class="btn btn-primary" type="submit">Ajouter</button>
  </form>

{% endblock %}
